$grey: #343434
$red: #A51C30
$font-family: 'Merriweather', 'Times New Roman', serif
$line-height: 28px
$font-weight: 300
$margin: 50px
$code-background: rgba(21, 31, 35, 0.2)

body
    margin: 0

code
    // Inspired by GitHub
    background-color: $code-background
    border-radius: 3px
    padding: .2em .4em

a
    color: white
    text-decoration: none

    &:hover
        text-decoration: underline

*
    font-family: $font-family
    font-weight: $font-weight
    line-height: $line-height

@import nav
@import main