$grey: #343434
$font-family: 'Merriweather Light', 'Garamond', 'Times New Roman'
$line-height: 28px
$font-weight: 300

*
    font-family: $font-family
    font-weight: $font-weight
    line-height: $line-height

@import nav