.grid-parent
    display: grid

    @media screen and (min-width: 1025px)
        grid-template-columns: 25vw 25vw 25vw
        grid-template-rows: auto auto //60vh 60vh

    @media screen and (min-width: 481px) and (max-width: 1024px)
        grid-template-columns: 40vw 40vw

    @media screen and (min-width: 320px) and (max-width: 480px)
        grid-template-columns: 80vw

    grid-column-gap: 5vw
    grid-row-gap: 5vh
    margin-bottom: 50px

    .card
        background-color: white
        padding: 20px

        // When active, the card should span 2 rows.
        &.active
            grid-row-end: span 2

        h2
            cursor: pointer

        h2, p
            color: $font-color !important

        .card-title
            font-size: 18px
            font-weight: bold
        
        // Initially, don't display any content in the cards.
        & > div
            display: none

            &.visible
                display: initial