main
    h1
        color: $red
        font-size: 36px
        text-align: center
        margin-bottom: $margin
    
    // Styling for sections
    section
        padding: $margin

        &.red-background
            background-color: $red
            
            h1
                color: white
        
        &.blue-background
            background-color: $blue

            h1, p
                color: white
    
    p
        color: rgb(65, 65, 65)
        text-align: justify

        // Only indent first paragraph
        &+p
            text-indent: 1em
    
    // Research and project item links
    .research-item, .project-item
        color: white
        text-indent: 0
        
        &:before
            content: '\2022'
            font-size: 32px
            position: relative
            top: 5px
            margin-right: 5px
