main
    h1
        color: $red
        font-size: 36px
        text-align: center
        margin-bottom: $margin
    
    section
        padding: $margin

        &.red-background
            background-color: $red
            
            h1
                color: white
        
        &.blue-background
            background-color: $blue

            h1
                color: white
    
    p
        color: rgb(65, 65, 65)
        text-align: justify

        // Only indent first paragraph
        &+p
            text-indent: 1em
